<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
 <web-app>
    <servlet>
        <servlet-name>userRegisterServlet</servlet-name>
        <servlet-class>user.userRegisterServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>userRegisterServlet</servlet-name>
        <url-pattern>/userRegister</url-pattern>
    </servlet-mapping> 
    </web-app>